page-cad-instituicao {

    .tudo{
        font-family: century gothic;
    }
    
    p{
        color: black;
        font-size: 120%
    }
    
    ion-header{
        font-family: century gothic;
    }
    .labelbonita{
        font-size: 12px;
    }
    .alerta div{
        color: red;
        font-size: 13px;
    }
    h4{
        color: black;
    }
    .verificar{
        font-weight: 900;
        letter-spacing: 2px;
        font-size: 10px;
        background: transparent;
        color: rgb(196, 50, 50);
        border-left: solid 2px rgb(196, 50, 50);
    }
    ion-searchbar{
        margin-left: 15px;
    }
    // .searchbar{ 
    //     background-color: transparent;
    //     border-bottom: 1px solid #DEDEDE;
    //     border-width: 10%;
    // }
    // .searchbar-search-icon { 
    //     display:none;

    // }
    // .searchbar-input {
    //     border: 0 !important;
    //     box-shadow: none !important;
    // }
    // .labelNice{
    //     color: rgb(146, 146, 146);
    //     position: relative;
    //     right: 120px;
    //     top: 20px;
    // }


    }

