page-cad-motorista {
    .tudo{
        font-family: century gothic;
    }
    
    p{
        text-align: center;
        color: black;
        font-size: 15px;
    }
    
    ion-header{
        font-family: century gothic;
    }

    .labelbonita{
        font-size: 12px;
    }
    .alerta div{
        color: red;
        font-size: 13px;
    }
}
