page-cad-escolher {
    ion-content{
        background-image: url('../assets/imgs/bg-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    h2, h3, p{
        color: white;
        font-family: century gothic;
    }
  
    ion-header{
        font-family: century gothic;
    }

    .centralizar{
        padding-top:50%;
    }
    hr {
        height: 1px !important;
        width: auto !important;
        background: white !important;
        display: block !important;
        opacity: 1 !important;
        visibility: visible !important;
      }

    .buttonWidth{
        width:70%;
        -moz-box-shadow: 0px 10px 14px -7px #000000;
        -webkit-box-shadow: 0px 10px 14px -7px #000000;
        box-shadow: 0px 10px 14px -7px #000000;
    }
}
